---
---

@import "{{ site.theme }}";
#header_wrap {
  background-image: url("https://research-iceberg.github.io/assets/Iceberg_logo_tip.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#main_content_wrap {
  background-image: url("https://research-iceberg.github.io/assets/Iceberg_logo_sea_bw_bulk_light.png");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top;
}
#forkme_banner {display: none;}

#social_media_banner {
    position:absolute;
    right: 0px;
    bottom: -20px;
}